.calculator {
    border: 2px solid grey;
    display: grid;
    grid-template-columns: auto;
}

.row-grey, .row-numbers {
    margin-left: 5px;
}

.row-grey {
    margin-top: 5px;
}

.btn-operation, .btn-num, .btn-equals, .zero, .decimal {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 2px 0;
}

.btn-num, .btn-operation, .decimal {
    width: 100px;
    height: 25px;
}

.zero {
    width: 204px;
    height: 25px;
    margin-bottom: 15px;
}

