.calculator {
    border: 2px solid grey;
}

.row-grey, .row-numbers {
    margin-left: 5px;
}

.row-grey {
    margin-top: 5px;
}

.btn-operation, .btn-num, .btn-equals, .zero, .decimal {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 2px 0;
}

.btn-operation {
    width: 5%;
    margin-bottom: 1px;
}

.btn-num {
    width: 5%;
    margin-bottom: 1px;
}

.zero {
    width: 258px;
    
}

.decimal {
    width: 127px;
    margin-bottom: 5px;
}

.btn-equals {
    height: 62px; 
    margin-right: 822px;
    margin-top: 1px;
    width: 53px;
    display: flex;
    flex-direction: right;
    float: right;
    
}